.all {
    margin-bottom: 10vh;
}

.header {
    text-align: center;
    font-size: 20vh;
    font-weight: 400;
    color: white;

    font-family: "Glockenspiel";
    letter-spacing: 0.4vh;
    margin-bottom: 2vh;
}

.committees {
    height: auto;
}

.jumpto-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;

    & > a {
        color: white;
        text-decoration: none;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }

    & > a:not(:last-child) { border-right: 1px solid #ffffffba; }
    & > a:visited { color: white; }
    & > a:hover { color: #cacaca; }
}

.comm {
    background-color: rgba(25, 40, 34, 0.5);
    background-blend-mode: multiply;
    height: 75vh;
    padding-top: 0.5%;
    padding-left: 0.5%;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    transition-duration: 500ms;
    background-position-y: 50%;

    &:hover { background-color: rgba(25, 40, 34, 0.3); }
    &:hover > a {
        font-size: 35vh;
        line-height: 35vh;
        margin: 0;
    }
    & > a { font-family: "Glockenspiel", serif; }
    & > a::before { margin-top: 7.5vh; }
}

#board-room { background-image: url('../assets/comm-bgs/ssci.webp'); }

#unsc { background-image: url('../assets/comm-bgs/unsc.webp'); }

#ccc { background-image: url('../assets/comm-bgs/ccc.webp'); }

#lok-sabha { background-image: url('../assets/comm-bgs/lok-sabha.webp'); }

#unhrc { background-image: url('../assets/comm-bgs/unhrc.webp'); }

#ipc { background-image: url('../assets/comm-bgs/ipc.webp'); }

#disec {
    background-image: url('../assets/comm-bgs/disec.webp');
    background-position-y: 0%;
}

.comm-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    color: white;

    padding-bottom: 5vh;
}

.comm-header {
    font-family: "Glockenspiel", serif;
    font-size: 19vh;
    line-height: 19vh;
    margin-top: 0;
    margin-bottom: 1%;
    font-weight: 700;

    color: black;
    width: fit-content;
    text-decoration: none;

    background: inherit;
    background-clip: text;
    color: white;
    filter: drop-shadow(.06em .06em #192822);

    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
    1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;

    &::before {
        content: 'The';
        display: block;
        font-size: 3vh;
        line-height: 3vh;
    }
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    width: 100%;
    margin-bottom: 5vh;

    & > div {
        border-radius: 1em;
        background-color: var(--secondary);
        border: 0.2em solid var(--secondary-light);
        width: 100%;
        height: 100%;
        padding: 3%;
        text-align: center;
        box-sizing: border-box;
    }

    & > div > a { font-size: 3vh; }
}

.agenda {
    margin-bottom: 3vh;

    &::before {
        content: 'Agenda';
        display: block;
        font-size: 4vh;
        font-weight: 500;
        margin-bottom: 1vh;
    }
}

.eb {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2vh;

    & > div {
        width: 100%;
        height: 30vh;
        background-color: var(--secondary);
        border: 0.2em solid var(--secondary-light);
        border-radius: 1em;
        display: flex;
        padding-left: 2%;
        box-sizing: border-box;
    }
}

.eb-photo {
    height: 100%;

    &:nth-child(2) { margin-left: auto; }
}

.comm-content p {
    font-size: 2vh;
}

h1 {
    font-size: 3vh;
}

@media screen and (max-width: 1200px) {
    .header {
        font-size: 7vh;
    }

    .committees {
        display: block;
        width: 100%;
        overflow-x: hidden;
        height: auto;
    }

    .comm {
        height: 50vh;
        padding-top: 5%;
        padding-left: 5%;
        width: 100%;

        & > a {
            font-size: 10vh;
            line-height: 10vh;
            width: fit-content;
            overflow-x: hidden;
        }

        & > a::before {
            font-size: 3vh;
            line-height: 3vh;
        }
    }

    .comm-content {
        width: 90%;

        & > p {
            font-size: 2vh;
        }
    }

    .comm-header {
        font-size: 10vh;
        line-height: 10vh;
    }

    .eb > div > div {
        & > h1 { font-size: 4vh; }

        & > p { font-size: 2vh; }
    }

    #ccc, #board-room, #lok-sabha, #unhrc, #unsc {
        background-position-x: 50%;
    }

    .jumpto-bar {
        font-size: 1.5vh;
        line-height: 1.5vh;
    }

    .jumpto-header {
        font-size: 2vh;
        line-height: 2vh;
    }
}