.content {
    height: 40vh;
    background-color: var(--secondary);
    padding: 2%;
    color: var(--contrast-secondary);
    opacity: 0.9;
}

.gradient {
    height: 5vh;
    width: 100%;
    background-image: linear-gradient(to top, var(--secondary), #00000000);
    opacity: 0.9;
}

.content > h1 {
    font-size: 5vh;
}

.contact-details h2 {
    font-size: 3vh;
}

.contact-details p {
    font-size: 2vh;
}

.contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: min-content;
    grid-column-gap: 10vw;
    height: 20%;
}

.phone {
    margin: 0;
    padding: 0;
    height: 80%;
}

.details {
    display: flex;
}

#p1 {
    padding-right: 1vw;
}

.social img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    .content > h1 {
        font-size: 3vh;
    }

    .contact-details h2 {
        font-size: 2vh;
        line-height: 2vh;
    }

    .contact-details p {
        font-size: 1.5vh;
    }
}