* {
    font-family: "Teko", sans-serif;
}

@keyframes title-anim {
    from {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -25%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

section {
    height: 100vh;
}

.title {
    margin: 0;
    padding-top: 10vh;
    background-color: pink;
    background-image: radial-gradient(red 2px, transparent 0);
    background-size: 40px 40px;
    background-attachment: fixed;
    text-align: center;
}

.title div {
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 20vw;
    padding-top: 5vh;
    margin-bottom: 0;
    font-weight: 400;
    margin: 0;
    line-height: 20vw;
}

.header h1:nth-child(1) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1000ms;
}

.header h1:nth-child(2) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1100ms;
}

.header h1:nth-child(3) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1200ms;
}

.header h1:nth-child(4) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1300ms;
}

.header h1:nth-child(5) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1400ms;
}

.header h1:nth-child(6) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1500ms;
}

.header h1:nth-child(7) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 1600ms;
}

.title p {
    margin: 0;
    font-size: 1.6em;
}

.about-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 2%;
    height: 100%;
}

.about-heading {
    display: flex;
    padding-top: 1vh;
}

.about {
    background-image: url("../assets/stacked-waves-haikei.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.quote-block {
    background-color: green;
    height: 13.5vh;
    width: 0.5em;
    margin-right: 1em;
}

.about-heading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-heading h2 {
    line-height: 3vh;
    font-size: 3vh;
    font-weight: 500;
    margin: 0;
}

.about-heading h1 {
    line-height: 5vh;
    font-size: 5vh;
    font-weight: 500;
    margin: 0;
}

.about-div p {
    font-size: 2vh;
    font-weight: 100;
}

.committees {
    background-color: yellow;
}

.image-placeholder {
    background-color: green;
    height: 40%;
    aspect-ratio: 1/1;
}

@media screen and (max-width: 1200px) {
    .about-div {
        width: 100%;
    }

    .title {
        height: 100%;
    }

    .about-div p {
        font-size: 2.5vh;
    }

    .about-div {
        padding-top: 5vh;
    }

    .about-heading h1 {
        font-size: 4vh;
        line-height: 4vh;
    }

    .about-heading h2 {
        font-size: 2vh;
        line-height: 2vh;
    }

    .about p {
        font-size: 2vh;
        line-height: 2vh;
    }

    .quote-block {
        height: 10vh;
    }

    .image-placeholder {
        width: 90%;
    }
}
