* {
    font-family: "Onest", sans-serif;
}

body {
    background-image: url('../assets/bg.png');
    background-attachment: fixed;
}

@keyframes title-anim {
    from {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, -25%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.title {
    margin: 0;
    padding-top: 10vh;
    text-align: center;
    height: 100vh;

    color: white;
}

.title div {
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: center;
}

.header h1 {
    font-size: 15vw;
    padding-top: 5vh;
    margin-bottom: 0;
    font-weight: 400;
    margin: 0;
    line-height: 20vw;

    font-family: "Glockenspiel", sans-serif;
    background-image: url('../assets/marble.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.header h1:nth-child(1) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3000ms;
}

.header h1:nth-child(2) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3100ms;
}

.header h1:nth-child(3) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3200ms;
}

.header h1:nth-child(4) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3300ms;
}

.header h1:nth-child(5) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3400ms;
}

.header h1:nth-child(6) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3500ms;
}

.header h1:nth-child(7) {
    animation: title-anim .5s normal forwards ease-in-out;
    animation-delay: 3600ms;
}

.title p {
    margin: 0;
    font-size: 1.6em;
}

.about-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 2%;
    height: 100%;
}

.about-heading {
    display: flex;
    padding-top: 1vh;
}

.about {
    background-image: url("../assets/stacked-waves-haikei.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
    color: #fff;
}

.about-heading ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about-heading h2 {
    line-height: 3vh;
    font-size: 3vh;
    font-weight: 500;
    margin: 0;
}

.about-heading h1 {
    line-height: 5vh;
    font-size: 5vh;
    font-weight: 500;
    margin: 0;
}

.about-div p {
    font-size: 2vh;
    font-weight: 100;
}

.countdown {
    padding-top: 1px;
    background-attachment: fixed;
    text-align: center;

    color: white;
}

.countdown h1 {
    font-size: 10vh;
    line-height: 10vh;
    margin-bottom: 0;
    font-weight: 400;

    font-family: "Glockenspiel", sans-serif;
    letter-spacing: 0.4vw;
}

.countdown p {
    font-size: 2vh;
}

#date {
    margin: 0;
    padding-bottom: 5vh;
}

#date div > h2 {
    font-size: 6vh;
    line-height: 6vh;
    margin-bottom: 0;
    font-weight: 200;
}

#date div:not(:last-child) {
    padding-right: 2vw;
}

#principal-letter-section {
    background-color: rgba(25, 40, 34, 0.8);
    padding: 2%;
    box-sizing: border-box;
    color: white;
}

#image-placeholder-3 {
    background-color: red;
    height: 50vh;
    aspect-ratio: 2/3;
}

#principal-letter {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#principal-letter h1 {
    font-family: "Glockenspiel", serif;
    margin: 0;
    padding-bottom: 2vh;
    font-size: 7vh;
    text-align: center;
}

#principal-letter-content {
    display: flex;
}

#principal-letter-content p {
    margin-left: 2vw;
    width: 100%;
    font-size: 2vh;
    line-height: 2vh;
}

/* Compatability VVVVVVVVV */

@media screen and (max-width: 1200px) {
    .about-div {
        width: 100%;
    }

    .title {
        height: 100%;
    }

    .about-div p {
        font-size: 2.5vh;
    }

    .about-div {
        padding-top: 5vh;
    }

    .about-heading h1 {
        font-size: 4vh;
        line-height: 4vh;
    }

    .about-heading h2 {
        font-size: 3vh;
        line-height: 3vh;
    }

    .countdown h1 {
        font-size: 7vh;
        line-height: 7vh;
    }

    .about p {
        font-size: 2vh;
        line-height: 2vh;
    }

    .dwmun-logo {
        width: 40vh;
    }

    #principal-letter-content {
        display: block;
    }

    #image-placeholder-3 {
        height: 100%;
        aspect-ratio: 2/3;
    }

    #principal-letter {
        width: 90%;
    }

    #principal-letter h1 {
        font-size: 4vh;
    }

    #principal-letter p {
        font-size: 2vh;
        line-height: 2vh;
    }
}
