.parent {
    height: 7.5vh;
    background-color: var(--secondary);
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent > * {
    padding-left: 5%;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    background-color: green;
    aspect-ratio: 1/1;
}