.topnav {
    height: 7.5vh;
    background-color: #192822;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--secondary-light);
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
}

.topnav a {
    margin: 0 2vw;
    font-size: 2vh;
}

.topnav a:first-child {
    margin-left: auto;
}

.logo {
    box-sizing: border-box;
    height: 100%;
    margin-right: 2vw;
    padding: 0 0.5vw 0 0.5vw;
    background: white;
    margin-left: auto;
}

.logo > a {
    margin: 0;
}

.logo img {
    height: 100%;
}

@media screen and (max-width: 1200px) {
    .topnav a {
        font-size: 1.25vh;
    }

    .topnav {
        justify-content: flex-start;
    }

    .logo {
        height: 75%;
    }
}