:root {
    --primary: #303030;
    --secondary: #83d4cb;
    --accent: #6bb58d;

    --secondary-light: rgb(0, 0, 0, 0.2);

    --contrast-primary: #fff;
    --contrast-secondary: #fff;
    --contrast-accent: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
