:root {
    --primary: #e3fffc;
    --secondary: #83d4cb;
    --accent: #6bb58d;

    --secondary-light: rgba(131, 212, 203, 0.5);

    --contrast-primary: #0F253E;
    --contrast-secondary: #000000;
    --contrast-accent: #000000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
